<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/stylesheet.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/blog">blog</a>
                <a href="/newpost">post a new entry</a>
            </nav>
        </header>
        <hr />

        {% block content %}
        {% endblock %}

        <footer>
            <nav>
                <a href="/blog">blog</a>
                <a href="/newpost">post a new entry</a>
            </nav>
        </footer>
    </body>
</html>