{% extends "base.html" %}

{% block content %}
    <h1>Blog Entries</h1>

    <hr />

    {% if entries|length == 0 %}
        <p>No blog entries yet.</p>
        <hr />

    {% else %}

        {% for entry in entries %}
            <h2>{{entry.title}}</h2>
            <p>{{entry.body}}</p>
            <hr />
        {% endfor %}

    {% endif %}

    <form method="post">
        <label>
            Title:
            <input type="text" name="title" />
        </label>
        <label>
            Body text:
            <textarea name="body">
                Write your blog entry!
            </textarea>
        </label>
        <input type="submit" value="Blog It!" />
    </form>

    
{% endblock %}